<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="productMapper">

	<resultMap id="productResultSet" type="product">
		<result column="PRODUCT_NO" property="productNo" />
		<result column="PRODUCT_NAME" property="productName" />
		<result column="PRICE" property="price" />
		<result column="DISCRIPTION" property="description" />
		<result column="ATTACHMENT1" property="attachment1" />
		<result column="ATTACHMENT2" property="attachment2" />
		<result column="ATTACHMENT3" property="attachment3" />
		<result column="ATTACHMENT4" property="attachment4" />
		<result column="PRODUCT_STATUS" property="productStatus" />
		<result column="SELLER_NO" property="sellerNo" />
		<result column="S_COUPON_NO" property="stoCouponNo" />
		<result column="K_COUPON_NO" property="keyCouponNo" />
		<result column="S_COUPON_NAME" property="stoCouponName" />
		<result column="K_COUPON_NAME" property="keyCouponName" />
		<result column="S_COUPON_PRICE" property="stoCouponPrice" />
		<result column="K_COUPON_PRICE" property="keyCouponPrice" />
		<result column="S_PRODUCT_NO" property="stoProductNo" />
		<result column="K_PRODUCT_NO" property="keyProductNo" />
	</resultMap>
	
	<!--
		 FO 상품 전체 조회 페이징 처리를 위한 상품 개수 확인
		 * 주멋돌
	-->
	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*)
		FROM PRODUCT
		WHERE PRODUCT_STATUS = 1
	</select>
	
	<!--
		 FO 상품 전체 조회
		 * 주멋돌
	-->
	<select id="selectList" resultMap="productResultSet">
		SELECT P.PRODUCT_NO
             , PRODUCT_NAME
             , PRICE
             , ATTACHMENT1
             , S.COUPON_NO AS "S_COUPON_NO"
             , K.COUPON_NO AS "K_COUPON_NO"
             , S.COUPON_NAME AS "S_COUPON_NAME"
             , K.COUPON_NAME AS "K_COUPON_NAME"
             , S.COUPON_PRICE AS "S_COUPON_PRICE"
             , K.COUPON_PRICE AS "K_COUPON_PRICE"
             , S.PRODUCT_NO AS "S_PRODUCT_NO"
             , K.PRODUCT_NO AS "K_PRODUCT_NO"
		FROM PRODUCT P
        LEFT JOIN SELLER S ON(S.SELLER_NO = P.SELLER_NO)
		LEFT JOIN COUPON_STORE S ON (P.PRODUCT_NO = S.PRODUCT_NO)
		LEFT JOIN COUPON_KEYBOARDER K ON (P.PRODUCT_NO = K.PRODUCT_NO)
		WHERE (S.COUPON_STMT = 'Y' OR K.COUPON_STMT = 'Y')
		  AND S.SELLER_STATUS = 'Y'
		  AND P.PRODUCT_STATUS = 1
		ORDER BY P.PRODUCT_NO DESC
	</select>
	
</mapper>


































